   <!--
      JavaScript 6th Edition
      Chapter 8
      Hands-on Project 8-4

      Author: 
      Date:   

      Filename: index.htm
   -->

<!DOCTYPE html>
<html>
  <head>
    <title>Hands-On Project 8-4</title>
    <meta name="description" content="A to-do list">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
   <header>
      <h1>
         Hands-on Project 8-4
      </h1>
   </header>

   <article>
      <h2>To Do List</h2>
      <form>
         <fieldset>
            <input type="text" id="newItem" />
            <input type="button" id="button" value="Add Item" />
         </fieldset>
      </form>
      <div id="results">
         <ol></ol>
      </div>
   </article>
    <script src="script.js"></script>
</body>
</html>
